body {
    background-color: #cfceb4d5;
    color: black;
}

h1 {
    text-align: center;
    color: #a553db;

}

p {
    font-size: large;
    text-align: center;
    color: rgb(12, 0, 185);
}

img {
    width: 25%;
    height: 25%;
}

.enviar {
    border-radius: 10px;
    background-color: #a1ff30;
    color: #32a1e9;
    border-color: black;
}

.etiqueta {

    background-color: #ff50a1;
}

ol li {
    font-size: 30px;
    color: blueviolet;
    background-color: yellow;
    text-align: center;
}

ul li {
    color: green;
    font-weight: bold;

}

h2 {
    color: #a553db;
}