


.main {
  --primary-background: #bfcfff;
    --secondary-background: #809fff;
    --primary-clear: #809fff;
    --secondary-clear: #002db3;
    --white: #FFFFFF;
    --yellow: #0000ff;
    --xs: 14px;
    --sm: 22px;
    --md: 24px;
    --lg: 46px;

  margin: 0;
  padding: 0;
  background-color:var(--primary-background);
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
